.container{
padding: 20px;
} 

.username, .password{
    width: 100%;
    float: left;
    padding: 12px 20px;
    margin: 18px 0;
    display: inline-block;
    box-sizing: border;
}

.submit{
    width: 100%;
    float: left;
    padding: 12px 20px;
    margin: 18px 0;
    display: inline-block;
    box-sizing: border;
    background-color: lightgray;
    border-color: rgb(126, 119, 119);
}

.checkBox{
    width: 40px;
    height: 40px;
    margin-left: 4%;
}

.h3, .h5{
    color: lightgray;
}

.registration-link{
    height: 160px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.registration-link a {
    color: white;
    text-decoration: none;
}

.registration-link a:hover{
    color: #ccc;
    text-decoration: none;
}

.login-logo{
    height: 60vh;
    box-shadow: 5px 5px 15px 1px black;
}

.login-form{
    background-color: #ccc;
    box-shadow: 5px 5px 15px 1px black;
}

.login-frame{
    width: 900px;
}