.actCard{
  margin-bottom: 15px;
  color: lightgrey;
}

.body{
  box-shadow: 3px 2px 4px rgb(87, 85, 85);
  height: 250px;
  background-color: rgb(59, 55, 55);
  color: lightgrey;
  border-radius : 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}

.cardboy{
  border:none;
  margin-top: 10px;
  border-radius : 25px;
}

.name{
  text-emphasis: 30px;
}

.active-logo{
  height: 15vw;
  box-shadow: 5px 5px 15px 1px black;
}

.subWrapper h2{
  color: white;
}