.actCard{
  margin-bottom: 15px;
  color: lightgrey;
  /* height: 200px; */
}

.card-body{
  margin-top: 25px;
  box-shadow: 3px 2px 4px rgb(87, 85, 85);
  background-color: rgb(42, 39, 39);
  color: lightgrey;
  border-radius: 25px;
}

.card{
  border:none;
  margin-top: 10px;
  background-color: rgb(57, 55, 55);
}

.new-activity{
  width: 250px;
  border: 3px inset #121212;
}

h4{
  color: white;
}

/* .col{
  margin-top: 50px;
  box-shadow: 3px 2px 4px rgb(87, 85, 85);
  background-color: rgb(42, 39, 39);
  color: lightgrey;
  border-radius: 25px;
} */