.actCard{
  margin-bottom: 15px;
  color: lightgrey;
  /* height: 200px; */
}

.body{
  /* margin-top: 25px; */
  box-shadow: 3px 2px 4px rgb(87, 85, 85);
  height: 250px;
  background-color: rgb(42, 39, 39);
  color: lightgrey;
  border-radius : 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}

.cardboy{
  border:none;
  margin-top: 10px;
  border-radius : 25px;
  
  /* background-color: rgb(57, 55, 55); */
  /* height: 150px; */
}

.name{
  text-emphasis: 30px;
}

/* .col{
  margin-top: 50px;
  box-shadow: 3px 2px 4px rgb(87, 85, 85);
  background-color: rgb(42, 39, 39);
  color: lightgrey;
  border-radius: 25px;
} */