.routinesCard{
  margin-top: 50px;
  box-shadow: 3px 2px 4px rgb(87, 85, 85);
  background-color: rgb(42, 39, 39);
  color: lightgrey;
  border-radius: 25px;
}

.activityCard{
  height: 268px;
}

.bi-person-circle{
  margin-right: 7px;
}

.card-body{
  background-color: rgb(42, 39, 39);
  border-radius: 25px;
}

.h5{
  border-radius:25px;
}

.footer{
  border-radius: 25px;
  height:fit-content;
}

